body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  'nav header header'
  'nav content ann'
  'nav content trend';
  grid-template-columns: 0.8fr 5fr 1.5fr;
  grid-template-rows: 1.5fr 3fr 3fr;
  height: 100%;
  box-sizing: border-box;
}

.container > * {
  font-family: Helvetica;
  font-size: 1.6em;
  font-weight: bold;
  letter-spacing: 0.05em;
}

header {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 3em 3em;
  gap: 0.1em;
  grid-area: header;
  background-color: #fff;
  color: #000;
  box-shadow: 0 10px 10px -10px #000000;
  position: relative;
  z-index: 10;
  padding: 0 1em 0 1em;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

form > input {
  padding: 10px;
  border: 2px solid #00ADFE;
  border-radius: 25px;
  width: 45vw;
  background-color: #e4f1ef;
}

form > img {
  height: 1.2em;
  cursor: pointer;
}

header > div.notification > img {
  height: 1.1em;
  cursor: pointer;
}

.notification {
  justify-self: end;
  align-self: center;
  padding-right: 1em;
}

header > div.user > img {
  height: 1.7em;
}

.user {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
  justify-items: center;
  cursor: pointer;
}

.greeting {
  display: grid;
  grid-template-areas: 
    'img p'
    'img h4';
  grid-template-rows: 1.5em 1.5em;
  grid-template-columns: 2em 20em;
  column-gap: 1em;
  align-items: center;
}

header > div.greeting > img {
  grid-area: img;
  height: 2.5em;
}

header > div.greeting > p {
  grid-area: p;
  font-size: 0.6em;
  font-weight: bold;
  margin: 0;
}

header > div.greeting > h4 {
  margin: 0;
  margin-top: -1em;
}

header > div.btn > * {
  margin: 0 1em 0 1em;
  padding: 0.5em;
  border: 1px solid #078bdd;
  border-radius: 25px;
  box-shadow: 1px 1px 2px 1px black;
  width: 7vw;
  background-color: #078bdd;
  color: #fff;
  font-weight: bold;
  font-size: medium;
}

header > div.btn > *:hover {
  background-color: #056fb1;
  cursor: pointer;
}

.btn {
  grid-column: 2 / 4;
  align-self: center;
  justify-self: end;
}

/* Navigation */
nav {
  grid-area: nav;
  background-color: #0279c4;
  color: #fff;
  box-shadow: 5px 0 5px -5px #014670;
  position: relative;
  z-index: 10;
  padding: 1em;
}

nav > * {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  cursor: pointer;
}

.logo {
  display: grid;
  grid-template-rows: 0.3em 0.3em 0.3em;
  grid-template-columns: 0.5em 0.5em;
  gap: 3px;
  background-color: #005B94;
}

.logo > * {
  background-color: #fff;
}

.logo > *:nth-child(1) {
  grid-row: 1 / 3;
}

.logo > *:nth-child(4) {
  grid-row: 2 / 4;
}

.dash-item {
  font-size: 0.7em;
  margin-bottom: 0.9em;
}

.dash-item > img {
  height: 1.2em;
}

/* Your Projects Section */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  grid-area: content;
  background-color: rgb(242, 247, 255);
  text-align: left;
  padding: 1em;
  overflow: auto;
}

main > *:first-child {
  grid-column: 1 / 4;
}

main > div {
  border-left: 8px solid goldenrod;
  border-radius: 8px;
  padding: 1.2em;
  box-shadow: 2px 3px 3px 3px lightgrey;
  background-color: #fff;
  font-size: 0.7em;
}

main > div > p {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 100;
  color: #000;
  margin-top: -0.05em;
  height: 10em;
  overflow: hidden;
  margin-bottom: 4em;
}

main > div > span {
  display: flex;
  content: url(./icons/bookmark.png);
  height: 1.5em;
  align-content: end;
  justify-self: end;
}

/* Announcement Section */
aside {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
  grid-area: ann;
  background-color: #642cde;
  text-align: left;
  overflow: auto;
  color: palegoldenrod;
  padding: 1em;
}

aside > *:first-child {
  grid-row: 1 / 4;
}

aside > div {
  padding: 5px;
  font-size: 0.6em;
  border-bottom: 1px solid palegoldenrod;
}

aside > *:last-child {
  border: none;
}

aside > div > p {
  font-size: 0.8em;
  font-family: sans-serif;
  font-weight: 200;
  margin-top: -1px;
}

/* Trending Section */
trend {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.5em;
  text-align: left;
  overflow: auto;
  grid-area: trend;
  background-color: palegoldenrod;
  color: #000;
  padding: 1em;
}

trend > * {
  display: flex;
  flex-direction: row;
  gap: 0.7em;
}

trend > div {
  font-size: 0.6em;
  cursor: pointer;
}

trend > div > div {
  align-content: center;
}

trend > div > img {
  height: 3em;
}

trend > div > div > p {
  font-size: 0.8em;
  font-weight: 300;
  margin-top: -0.03em;
}
