body,
html {
  height: 100%;
  margin: auto;
}

.container {
  display: grid;
  grid-template-areas: 
  'nav header header header header'
  'nav content content content ann'
  'nav content content content ann'
  'nav content content content trend'
  'nav footer footer footer footer';
  gap: 15px;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container > * {
  padding: 25px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

header {
  grid-area: header;
  background-color: #006157;
}

nav {
  grid-area: nav;
  background-color: #005B94;
}

aside {
  grid-area: ann;
  background-color: #642cde;
}

trend {
  grid-area: trend;
  background-color: #f00f5a;
}

main {
  grid-area: content;
  background-color: #7E1DC3;
}

footer {
  grid-area: footer;
  background-color: #393f4d;
}

main p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}