body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  grid-template-areas: 
  'nav header header'
  'nav content ann'
  'nav content trend'
  'nav footer footer';
  grid-template-columns: 1fr 5fr 1.5fr;
  grid-template-rows: 1.5fr 3fr 3fr 0.25fr;
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.container > * {
  padding: 25px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: #000;
}

header {
  grid-area: header;
  background-color: #006157;
}

nav {
  grid-area: nav;
  background-color: #005B94;
}

aside {
  grid-area: ann;
  background-color: #642cde;
}

trend {
  grid-area: trend;
  background-color: #f00f5a;
}

main {
  grid-area: content;
  background-color: #fff;
}

footer {
  grid-area: footer;
  background-color: #393f4d;
}

main p {
  font-size: 18px;
  font-family: sans-serif;
  color: #000;
  text-align: left;
}

.dash-item {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  font-size: 1.4rem;
  margin-bottom: 0.5em;
}

.dash-item > img {
  height: 1em;
}